@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* DawnBringer 32 palette */
:root {
  --db-black: #000000;
  --db-ink: #222034;
  --db-wine: #45283c;
  --db-cocoa: #663931;
  --db-brown: #8f563b;
  --db-orange: #df7126;
  --db-tan: #d9a066;
  --db-cream: #eec39a;
  --db-yellow: #fbf236;
  --db-lime: #99e550;
  --db-green: #6abe30;
  --db-jade: #37946e;
  --db-moss: #4b692f;
  --db-umber: #524b24;
  --db-charcoal: #323c39;
  --db-indigo: #3f3f74;
  --db-steel: #306082;
  --db-blue: #5b6ee1;
  --db-azure: #639bff;
  --db-cyan: #5fcde4;
  --db-ice: #cbdbfc;
  --db-white: #ffffff;
  --db-silver: #9badb7;
  --db-gray: #847e87;
  --db-slate: #696a6a;
  --db-ash: #595652;
  --db-purple: #76428a;
  --db-red: #ac3232;
  --db-rose: #d95763;
  --db-pink: #d77bba;
  --db-olive: #8f974a;
  --db-bronze: #8a6f30;
}

:root {
  color-scheme: dark;

  --bg: var(--db-ink);
  --fg: var(--db-ice);
  --border: var(--db-indigo);
  --link: var(--db-pink);

  --section-gap: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: center;
}

main {
  flex: 1;
  border: 8px solid var(--border);
  box-shadow: 8px 8px var(--db-black);
  padding: 24px;
  max-width: 720px;
  margin: 96px 8px;
}

@media (max-width: 736px) {
  main {
    margin: 8px;
  }
}

h1 {
  margin-bottom: var(--section-gap);
  font-size: 32px;
  line-height: 40px;
}

h2 {
  margin-bottom: var(--section-gap);
  font-size: 24px;
  line-height: 30px;
}

h3 {
  margin-bottom: var(--section-gap);
  font-size: 20px;
  line-height: 24px;
}

p {
  margin-bottom: var(--section-gap);
}

a {
  color: var(--link);
  text-decoration-color: var(--border);
  text-underline-offset: 3px;
}

a:hover {
  text-decoration-color: currentColor;
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px 24px;
  margin-bottom: var(--section-gap);
}

dt {
  font-weight: 600;
}

@media (max-width: 480px) {
  dl {
    display: block;
  }

  dd {
    margin-bottom: 8px;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

figure {
  margin-bottom: 8px;
}

figcaption {
  margin-top: 4px;
  color: var(--db-silver);
}

.media {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-bottom: 8px;
}

@media (max-width: 480px) {
  .media {
    grid-template-columns: 1fr;
  }
}

* + h1,
* + h2,
* + h3,
* + footer {
  margin-top: 32px;
}
